// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body>header  {
  background: #ff9900;
}

h1,h2,h3,h4,h5 {
  color: #fff;
}

//body>header h2 {
 //color: #ff9900;
//}

body>header h1 a {
  color: #ffffff;
}

body > nav  {
  border-bottom: 1px solid #ff9900;
}

.entry-title {
  color: #ff9900;
}

article {
  border-bottom: 1px dotted #ff9900;
}

section h1 {
  color: #ff9900;
}

