// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-family: 'Noto Sans Japanese', serif;
}
.noto100 {font-weight:100;}
.noto200 {font-weight:200;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto600 {font-weight:600;}
.noto700 {font-weight:700;}
.noto800 {font-weight:800;}
.noto900 {font-weight:900;}

body>header  {
  background: #ff9900;
}

h1,h2,h3,h4,h5 {
  color: #6B6B6B;
}

article h2 {
 background: none;
 position: relative;
 padding: .25em 0 .5em .75em;
 border-left: 6px solid #ff9900;
}

article h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

article ol {
  margin-left: 25px;
  counter-reset: li;
  list-style: none;
  padding-left: 0;
}
article ol > li {
  position: relative;
  margin-bottom: .25em;
  padding-left: 1.5em;
}
article ol > li:before {
  content: counter(li) "";
  counter-increment: li;
  position: absolute;
  left: 0;
  top: .25em;
  width: 1.2em;
  height: 1.2em;
  background: #ff9900;
  border-radius: 50px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

blockquote {
  margin-left: 1em;
}

body>header h2 {
  color: #f2f2f2;
}

body>header h1 a {
  color: #ffffff;
}

body > nav  {
  border-bottom: 1px solid #ff9900;
}

.entry-title {
  color: #ff9900;
}

article {
  border-bottom: 1px dotted #ff9900;
}

section h1 {
  color: #ff9900;
}

article>footer p.meta{
  text-align: right;
}

article>footer p.meta span.categories {
  padding-left: 20px;
  padding-right: 10px;
  background: url(../images/tag_icon.png) no-repeat left;
}

article>footer p.meta span.byline {
  padding-left: 20px;
  padding-right: 10px;
  background: url(../images/user_icon.png) no-repeat left;
}


ul>li {
  margin-left: 25px;
}

// ページ下のSachoolのリンク
#content div.pagination a {
  color: #ff9900;
}

/* --- */
// 古いレスポンシブナビゲーションを隠す
body>nav fieldset.mobile-nav {
  display: none;
}
fieldset>select {
  width: 100%;
}
/* --- */

// 新しいレスポンシブナビゲーションのスタイル
body>nav ul.main-navigation {
  display: none;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

body>nav ul.main-navigation li {
  width: 100%;
  margin-left: 0;
}

body>nav ul.main-navigation li a {
  display: block;
  padding: 12px 0 10px;
  background: #fff;
  color: #ff9900;
  text-align: center;
  text-decoration: none;
  border-top: 1px dotted #ff9900;
}

#toggle {
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
}

#toggle a {
  display: block;
  position: relative;
  padding: 5px 0 5px;
  border-bottom: 1px solid #fff;
  color: #ff9900;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 550px) {
div#toggle a {
   display: none;
 }

body>nav ul.main-navigation {
   margin: 0;
   padding: 0;
   border: 0;
   overflow: hidden;
   float:left;
   display: block;
   padding-top: .15em;
 }

body>nav ul.main-navigation li {
  width: auto;
 }

body>nav ul.main-navigation li a {
  border-top:none;
  color: #6b6b6b;
  padding: 0;
 }

body>nav ul.main-navigation li+li {
  border-left: 1px solid #b0b0b0;
  margin-left: .8em;
 }

body>nav ul.main-navigation  li+li a {
  padding: 0;
  padding-left: .8em;
 }
}

